.form-header-div {
  max-width: 300px;
  height: 340px;
}
.contact-form {
  display: block;
  position: relative;
  box-sizing: border-box;
  color: var(--gray);
  font: 22px "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
  margin: 100px auto;
  width: 300px;
  height: 100vh;
}
label {
  font-weight: 200;
}
input,
textarea,
.send-message-button {
  box-sizing: border-box;
  margin: 5px 0 20px 0;
  border: 1px solid var(--accent);
  border-radius: 3px;
  font: 16px "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  text-align: center;
}
.form-inputs-div {
  position: relative;
  top: 100px;
}
.block, .message--contactpage {
  display: block;
  margin: 0 auto;
  width: 300px;
}
.message--contactpage {
  clear: left;
  margin: 50px auto;
  font-weight: 400;
  color: var(--dark);
  clear: left;
  font-size: 24px;
}
.block-input {
  display: block;
  margin: 5px auto 20px auto;
  height: 30px;
}
.block-input[type=text] {
  font-size: 20px;
}
.issue {
  height: 200px;
  text-align: left;
}
.send-message-button {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  padding: 8px;
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: white;
}
.send-message-button:hover {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}
.extra {
  display: block;
  height: 120px;
}
.sent-message-alert {
  border: 1px solid var(--accent);
  color: var(--accent);
  padding: 40px;
  text-align: center;
  position: relative;
}
.failed-alert {
  border: 1px solid orange;
  color: orange;
}
.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  border: none;
  background: url('../../images/close-button.svg');
  background-repeat: no-repeat;
}


@media only screen and (min-width: 530px) {
  .form-header-div {
    max-width: 570px;
    padding: 0 40px 40px 40px;
    text-align: center;
    height: 300px;
  }
  .message--contactpage {
    width: 100%;
    padding-top: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .message--contactpage {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 648px) {
  .message--contactpage {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 700px) {
  .form-header-div {
    max-width: 570px;
    padding: 0 40px 40px 40px;
    text-align: center;
    height: 200px;
  }
  .contact-form {
    width: 600px;
  }
  .block,
  .message--contactpage, .send-message-button {
    width: 550px;
  }
  .message--contactpage {
    padding-top: 0px;
  }
  .block-input,
  .name-label {
    width: 550px;
  }
  .issue {
    height: 140px;
  }
}

@media only screen and (min-width: 720px) {
  .message--contactpage {
    float: left;
  }
  .form-inputs-div {
    top: 40px;
  }
  .extra {
    height: 65px;
  }
}
